h2,
.container_listado{
    padding-left: 2rem;
}

h2{
    color: #fff;
}

.contianer_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem;
    background-color: #222;
}

.container_spinner{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_listado{
    padding: 0 1rem;
}

.container_nav_btn{
    display: flex;
    gap: 1rem;
}

